<a href="https://colab.research.google.com/github/Narabcs/doctorship/blob/main/fcp_nara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

!git clone https://github.com/Narabcs/doctorship/

fatal: destination path 'doctorship' already exists and is not an empty directory.

In [6]:
dados = pd.read_csv('/content/doctorship/parameters_water.csv')
dados['y_ress'] = dados['yexp']/dados['xexp']
dados

           yexp        mi     xexp      pf  meio        y_ress
0    31500000.0  0.000891  0.00800  997.05    50  3.937500e+09
1    63000000.0  0.000891  0.01250  997.05    50  5.040000e+09
2    94500000.0  0.000891  0.01480  997.05    50  6.385135e+09
3   126000000.0  0.000891  0.01730  997.05    50  7.283237e+09
4   157000000.0  0.000891  0.01930  997.05    50  8.134715e+09
5   189000000.0  0.000891  0.02060  997.05    50  9.174757e+09
6   220000000.0  0.000891  0.02240  997.05    50  9.821429e+09
7    15700000.0  0.000891  0.00727  997.05   120  2.159560e+09
8    31500000.0  0.000891  0.01060  997.05   120  2.971698e+09
9    63000000.0  0.000891  0.01460  997.05   120  4.315068e+09
10   94500000.0  0.000891  0.01790  997.05   120  5.279330e+09
11  126000000.0  0.000891  0.02100  997.05   120  6.000000e+09
12  157000000.0  0.000891  0.02400  997.05   120  6.541667e+09